<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Kevin Lillemets, veebiprogrammeerimine</title>
</head>
<body>
    <img src="/images/AA.png" alt="Kursuse bänner">
    <h1>Kevin Lillemets, veebiprogrammeerimine</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
    <hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
		<li><a href="/eestifilm/">Eesti filmi avaleht</a></li>
		<li><a href="/eestifilm/film_add">Eesti filmide lisamise lehele</a></li>
	</ul>
	<h2>Eesti filmid</h2>
	<ul><% filmList.forEach (function(listItem){ %>
		<li><%= listItem.title %>, toodetud aastal <%= listItem.production_year %>, kestus <%= listItem.duration %> minutit. <%= listItem.description %></li>
		<% }); %>
	</ul>
</body>
</html>