<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Kevin Lillemets, veebiprogrammeerimine</title>
</head>
<body>
    <img src="images/AA.png" alt="Kursuse bänner">
	<p>Sisse on loginud <%= userName %></p>
    <h1>Veebiprogrammeerimine</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
    <hr>
	<h2>Vinge veebiklubi</h2>
	<ul>
		<li><a href="/logout">Logi välja</a></li>
		<li><a href="/galleryphotoupload">Galeriipiltide üleslaadimine</a></li>
		<li><a href="/photogallery">Fotogalerii</a></li>
	</ul>
</body>
</html>