<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Kevin Lillemets, veebiprogrammeerimine</title>
</head>
<body>
    <img src="images/AA.png" alt="Kursuse bänner">
    <h1>Kevin Lillemets, veebiprogrammeerimine</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
    <hr>
	<h2>Siin lehel leiad</h2>
	<ul>
		<li><a href="/timenow">Ajainfo</li>
		<li><a href="/vanasonad">Valik Eesti tuntud vanasõnu</li>
		<li><a href="/visits">Registreeri oma külastus</li>
		<li><a href="/visits/log">Vaata külastusi</li>
		<li><a href="/eestifilm">Eesti film</li>
		<li><a href="/galleryphotoupload">Galeriipiltide üleslaadimine</li>
	</ul>
</body>
</html>