<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Kevin Lillemets, veebiprogrammeerimine</title>
</head>
<body>
    <img src="images/AA.png" alt="Kursuse bänner">
    <h1>Kevin Lillemets, veebiprogrammeerimine</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
    <hr>
	<h2>Siin lehel leiad</h2>
	<ul>
		<li><a href="/timenow">Ajainfo</a></li>
		<li><a href="/vanasonad">Valik Eesti tuntud vanasõnu</a></li>
		<li><a href="/visits">Registreeri oma külastus</a></li>
		<li><a href="/visits/log">Vaata külastusi</a></li>
		<li><a href="/eestifilm">Eesti film</a></li>
		<li><a href="/galleryphotoupload">Galeriipiltide üleslaadimine</a></li>
		<li><a href="/photogallery">Fotogalerii</a></li>
	</ul>
    <hr>
    <h2>Viimati lisatud avalik foto:</h2>
    <img src="<%= imgFile %>" alt="<%= imgAlt %>">
</body>
</html>