<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Kevin Lillemets, veebiprogrammeerimine</title>
	<link rel="stylesheet" href="/style/gallery.css">
	<script src="/script/gallery.js" defer></script>
</head>
<body>
    <img src="/images/AA.png" alt="Kursuse bänner">
    <h1>Kevin Lillemets, veebiprogrammeerimine</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
    <hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<h2>Fotogalerii</h2>
	<dialog id="modal" class="modalarea">
	  <span id="modalClose" class="modalclose">&times;</span>
	  <div class="modalhorizontal">
		<div class="modalvertical">
			<p id="modalCaption"></p>
			<img id="modalImage" src="/images/empty.png" alt="Galeriipilt">
		</div>
	  </div>
	</dialog>
	<div id="gallery" class="gallery">
	<% galleryData.forEach(function(image){ %>
	  <img src="<%=imagehref%><%=image.src%>" alt="<%=image.alt%>" class="thumbs" data-filename="<%=image.src%>">
	<% }); %>
	</div>
</body>
</html>