<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>Kevin Lillemets, veebiprogrammeerimine</title>
</head>
<body>
    <img src="/images/AA.png" alt="Kursuse bänner">
    <h1>Kevin Lillemets, veebiprogrammeerimine</h1>
    <p>See leht on loodud <a href="https://www.tlu.ee/">Tallinna Ülikoolis</a> veebiprogrammeerimise kursusel ja ei oma mõistlikku sisu.</p>
    <hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<h2>Registreeri oma külastus</h2>
	<form method="POST">
		<label for="firstNameInput">Külastaja eesnimi</label>
			<input id="firstNameInput" type="text" name="firstNameInput" placeholder="Kirjuta siia oma eesnimi...">
		<br>
		<label for="lastNameInput">Külastaja perenimi</label>
			<input id="lastNameInput" type="text" name="lastNameInput" placeholder="Kirjuta siia oma perenimi...">
		<br>
		<input id="regSubmit" type="submit" name="regSubmit" value="Salvesta">
	</form>
</body>
</html>